{% extends 'base.html' %}

{% block title %}
<title>ROFL-SHOP</title>
{% endblock %}

{% block body %}
<body class="text-center" _c_t_common="1" _c_t_j1="1">
    <form method="post">
  <img class="mb-4" src="/static/img/nurz.jpg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Вход для админа</h1>
  <label for="login" class="sr-only">Название рофлянчика</label>
    <input type="text" class="form-control" name="login" id="login" placeholder="Введите название рофлянчика">
    <label for="password" class="sr-only">Цена рофлянчика</label>
    <input type="number" name="password" id="password" class="form-control" placeholder="Введите цену рофлянчика" required="">
    <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">© 1892-2022</p>
</form>


<div class="mallbery-caa" style="z-index: 2147483647 !important; text-transform: none !important; position: fixed;">

</div>
</body>
{% endblock %}